<div class="container">
    <app-search-pokemon></app-search-pokemon>
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div (click)="goToPokemon(pokemon)" class="card horizontal" pkmnBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture" />
                    
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created | date: 'dd/MM/yyyy' }}</small></p>
                        <span 
                            *ngFor="let types of ((json2array(pokemon.types)).types)" 
                            class="{{ types | pokemonTypeColor }}"
                        >
                            {{types }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a 
    class="btn-floating btn-large waves-effect waves-light red z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;"
    routerLink="/pokemon/add"
>
 ➕
</a>